<div class="dash-nav dash-nav-dark">
  <header>
    <a href="#!" class="menu-toggle">
      <i class="fas fa-bars"></i>
    </a>
    <a href="index.html" class="spur-logo"
      ><i class="fas fa-bolt"></i> <span>Result Tracker</span></a
    >
  </header>
  <nav class="dash-nav-list">
    <a href="index.html" class="dash-nav-item">
      <i class="fas fa-home"></i> Dashboard
    </a>
    <a href="index.html" class="dash-nav-item">
        <i class="fas fa-chart-bar"></i>  Terms
    </a>
    <a href="index.html" class="dash-nav-item">
        <i class="fas fa-book"></i>  Subjects
    </a>
    <a href="index.html" class="dash-nav-item">
        <i class="fas fa-user"></i>  Profile
    </a>
    <a href="index.html" class="dash-nav-item">
        <i class="fas fa-sign-out-alt"></i>  Sign out
    </a>
  </nav>
</div>
