<div class="dash-nav dash-nav-dark "  [class.mobile-show]="showMobile">
  <header>
    <a (click)="toggleSideMobile()" class="menu-toggle">
      <i class="fas fa-bars"></i>
    </a>
    <a routerLink="/dash/home"  class="spur-logo"
      ><i class="fas fa-chart-line"></i> <span>Result Tracker</span></a
    >
  </header>
  <nav class="dash-nav-list">
    <a routerLink="/dash/home" class="dash-nav-item">
      <i class="fas fa-home"></i> Dashboard
    </a>
    <a routerLink="/dash/term"  class="dash-nav-item">
        <i class="fas fa-chart-bar"></i>  Terms
    </a>
    <a routerLink="/dash/subject"  class="dash-nav-item">
        <i class="fas fa-book"></i>  Subjects
    </a>
    <a routerLink="/dash/profile"  class="dash-nav-item">
        <i class="fas fa-user"></i>  Profile
    </a>
    <a class="dash-nav-item" (click)="logOut()">
        <i class="fas fa-sign-out-alt"></i>  Sign out
    </a>
  </nav>
</div>
