<div class="container-fluid">
  <h1 class="dash-title">Profile</h1>
  <p class="mb-5">
    Here you will find all the information from you profile including the exam
    structures, subjects and terms.
  </p>
  <div class="row">
    <div class="col-xl-4">
      <div class="card-custom hovercard-custom card spur-card">
        <div class="card-customheader card-body"></div>
        <div class="avatar" *ngIf="profile">
          <img alt="" src="assets/profile/{{ profile.image }}.jpg" />
        </div>
        <div class="spinner text-center" *ngIf="!profile">
          <div
            class="spinner-grow text-secondary"
            style="width: 3rem; height: 3rem"
            role="status"
          >
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="info" *ngIf="profile">
          <div class="title">
            <a>{{ profile.full_name }}</a>
          </div>
          <div class="desc">
            <span class="desc-title">Username:</span>&nbsp;{{
              profile.username
            }}
          </div>
          <div class="desc">
            <span class="desc-title">Email:</span>&nbsp;{{ profile.email }}
          </div>
          <div class="desc">
            <button
              class="btn btn-danger mt-3 mx-1 mb-1"
              (click)="delacc()"
              style="border-radius: 20px"
            >
              Delete Account
            </button>
            <button
              class="btn btn-warning mt-3 mx-1 mb-1"
              (click)="openChangePasswordModal()"
              style="border-radius: 20px"
            >
              Change Password
            </button>
          </div>
          <div class="desc">
            <button
              class="btn btn-primary mt-3 mx-1 mb-1"
              style="padding: 25px"
              (click)="openEditProfileModal()"
              style="border-radius: 20px"
            >
              Edit your Profile
            </button>
            <button
              class="btn btn-success mt-3 mx-1 mb-1"
              style="padding: 25px"
              (click)="openEditProfileImageModal()"
              style="border-radius: 20px"
            >
              Change Profile Picture
            </button>
          </div>
        </div>
        <div class="bottom"></div>
      </div>
    </div>
    <div class="col-xl-8">
      <div class="card spur-card">
        <div class="card-header bg-secondary">
          <div class="spur-card-icon text-white">
            <i class="fas fa-chart-bar"></i>
          </div>
          <div class="spur-card-title text-white">Exam Structure</div>
          <div class="spur-card-menu">
            <button class="btn text-white" (click)="openExamAddModal()">
              <i class="fas fa-plus"></i>
            </button>
            <button class="btn text-white" (click)="openExamEditModal()">
              <i class="fas fa-edit"></i>
            </button>
            <button class="btn text-white" (click)="openExamDeleteModal()">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body" *ngIf="PieData && PieData.response.length <= 0">
          Please add your exam structure details
        </div>
        <div class="card-body" *ngIf="PieData && PieData.response.length > 0">
          <div class="spinner text-center" *ngIf="!chartOptions1">
            <div
              class="spinner-grow text-secondary"
              style="width: 3rem; height: 3rem"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-6" *ngIf="chartOptions1">
                <p>Total No. Of Exams For Each Subjects</p>
                <apx-chart
                  [series]="chartOptions1.series"
                  [chart]="chartOptions1.chart"
                  [labels]="chartOptions1.labels"
                  [fill]="chartOptions1.fill"
                  [dataLabels]="chartOptions1.dataLabels"
                  [responsive]="chartOptions1.responsive"
                ></apx-chart>
              </div>
              <div class="col-md-6" *ngIf="chartOptions2">
                <p>Full Marks For Each Exam</p>
                <apx-chart
                  [series]="chartOptions2.series"
                  [chart]="chartOptions2.chart"
                  [labels]="chartOptions2.labels"
                  [fill]="chartOptions2.fill"
                  [dataLabels]="chartOptions2.dataLabels"
                  [responsive]="chartOptions2.responsive"
                  [theme]="chartOptions2.theme"
                ></apx-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Marks List-->

    <div class="col-xl-12 third">
      <div class="card spur-card">
        <div class="card-header bg-info text-white">
          <div class="spur-card-icon">
            <i class="fas fa-clipboard"></i>
          </div>
          <div class="spur-card-title">Your Marks List</div>
          <div class="spur-card-menu">
            <button class="btn text-white" (click)="openMarksFilterModal()">
              <i class="fas fa-filter"></i>
            </button>
            <button class="btn text-white" (click)="openMarksModal()">
              <i class="fas fa-plus"></i>
            </button>
          </div>
        </div>
        <div class="card-body card-overflow">
          <div class="spinner text-center" *ngIf="!filteredMarksList">
            <div
              class="spinner-grow"
              style="width: 3rem; height: 3rem"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <table
            class="table table-in-card table-responsive"
            *ngIf="filteredMarksList && filteredMarksList.length > 0"
          >
            <thead>
              <tr>
                <th scope="col" class=""><span>#</span></th>
                <th scope="col" class=""><span>Subject</span></th>
                <th scope="col" class=""><span>Exam</span></th>
                <th scope="col" class=""><span>Term</span></th>
                <th scope="col" class=""><span>Marks</span></th>
                <th scope="col" class=""><span></span></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let val of filteredMarksList; let i = index">
                <th scope="row" class="">
                  <span>{{ i + 1 }}</span>
                </th>
                <td class="">
                  <span>{{ val.subject_name }}</span>
                </td>
                <td class="">
                  <span>{{
                    val.exam_name + (val.exam_no > 1 ? " " + val.exam_no : "")
                  }}</span>
                </td>
                <td class="">
                  <span>{{ val.term_name }}</span>
                </td>
                <td class="">
                  <span>{{ val.marks + " / " + val.full_marks }}</span>
                </td>
                <td class="">
                  <span>
                    <button
                      class="btn text-danger"
                      data-dismiss="modal"
                      (click)="openMarksDeleteModal(val.marks_id)"
                    >
                      <i class="fas fa-minus"></i>
                    </button>
                  </span>
                  <span>
                    <button
                      class="btn text-primary"
                      data-dismiss="modal"
                      (click)="
                        openMarksUpdateModal(
                          val.marks_id,
                          val.marks,
                          val.full_marks
                        )
                      "
                    >
                      <i class="fas fa-edit"></i>
                    </button>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          <p
            class="mt-4 lead"
            *ngIf="filteredMarksList && filteredMarksList.length <= 0"
          >
            Please enter some marks of the subjects to view this list.
          </p>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card spur-card">
        <div class="card-header bg-success text-white">
          <div class="spur-card-icon">
            <i class="fas fa-grin"></i>
          </div>
          <div class="spur-card-title">Subjects With Score Above Average</div>
        </div>
        <div class="card-body" *ngIf="subjectList">
          <p
            class="mt-4 lead"
            *ngIf="subjectListAny && subjectListAny.length <= 0"
          >
            Please enter the subjects,score details to view subjects with above
            average
          </p>
          <table
            class="table table-hover table-in-card"
            *ngIf="subjectListAny && subjectListAny.length > 0"
          >
            <thead>
              <tr>
                <th scope="col" class="text"><span>Subject</span></th>
                <th scope="col" class="text"><span>Term</span></th>
                <th scope="col" class="text"><span>Score Average</span></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let val of subjectList">
                <ng-container *ngIf="val.average >= subjectAverage">
                  <th class="text">
                    <span>{{ val.subject_name }}</span>
                  </th>
                  <td class="text">
                    <span>{{ val.term_name }}</span>
                  </td>
                  <td class="text">
                    <span>{{ val.average }}</span>
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card spur-card">
        <div class="card-header bg-danger text-white">
          <div class="spur-card-icon">
            <i class="fas fa-frown"></i>
          </div>
          <div class="spur-card-title">Subjects With Score Below Average</div>
        </div>
        <div class="card-body" *ngIf="subjectList">
          <p
            class="mt-4 lead"
            *ngIf="subjectListAny && subjectListAny.length <= 0"
          >
            Please enter the subjects,score details to view subjects with below
            average
          </p>
          <table
            class="table table-hover table-in-card"
            *ngIf="subjectListAny && subjectListAny.length > 0"
          >
            <thead>
              <tr>
                <th scope="col" class="text"><span>Subject</span></th>
                <th scope="col" class="text"><span>Term</span></th>
                <th scope="col" class="text"><span>Score Average</span></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let val of subjectList">
                <ng-container *ngIf="val.average < subjectAverage">
                  <th class="text">
                    <span>{{ val.subject_name }}</span>
                  </th>
                  <td class="text">
                    <span>{{ val.term_name }}</span>
                  </td>
                  <td class="text">
                    <span>{{ val.average }}</span>
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <nav class="navbar navbar-light bg-light mb-3 w-100">
        <a class="navbar-brand"><i class="fas fa-clipboard"></i> Term list</a>
        <form class="form-inline">
          <button
            class="btn btn-primary"
            type="submit"
            (click)="openTermAddModal()"
          >
            Add Term <i class="fas fa-plus"></i>
          </button>
        </form>
      </nav>
    </div>
    <!--Term Wise Subjects Organised-->
    <div class="col-xl-6" *ngFor="let val of termData?.response">
      <div class="card spur-card">
        <div class="card-header bg-primary text-white">
          <div class="spur-card-icon">
            <i class="fas fa-clipboard"></i>
          </div>
          <div class="spur-card-title">
            No. of subjects in
            <a class="text-white" routerLink="/dash/term/{{ val.term_id }}">{{
              val.term_name
            }}</a>
          </div>
          <div class="spur-card-menu">
            <button
              class="btn text-white"
              (click)="openSubjectModal(val.term_id, val.term_name)"
            >
              <i class="fas fa-plus"></i>
            </button>
            <a
              class="btn text-white cursor-pointer"
              routerLink="/dash/term/{{ val.term_id }}"
            >
              <i class="fas fa-external-link-square-alt"></i>
            </a>
          </div>
        </div>
        <div class="card-body">
          <table
            class="table table-hover table-in-card"
            *ngIf="val.subjects && val.subjects.length > 0"
          >
            <thead>
              <tr>
                <th scope="col" class="text"><span>#</span></th>
                <th scope="col" class="text"><span>Subject Name</span></th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let v of val.subjects; let i = index"
                routerLink="/dash/subject/{{ v.sub_id }}"
                class="cursor-pointer"
              >
                <th class="text">
                  <span>{{ i + 1 }}</span>
                </th>
                <td class="text">
                  <span>{{ v.sub_name }}</span>
                </td>
              </tr>
            </tbody>
          </table>
          <p class="mt-4 lead" *ngIf="val.subjects && val.subjects.length <= 0">
            Please enter a subject to see the subject in this list
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--EXAM ADD MODAL -->
<div class="modal fade" [ngClass]="{ show: showExamModal }">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Exam Structure</h5>
        <button type="button" class="close" (click)="closeExamAddModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <div class="form-group">
            <label for="exampleFormControlInput1">Enter Exam Name</label>
            <input
              type="text"
              formControlName="examname"
              class="form-control"
              placeholder="Exam Name"
            />
            <small
              *ngIf="f.examname.touched && f.examname.invalid"
              class="form-text text-danger font-weight-bold"
            >
              <div *ngIf="f.examname.errors.required">
                Please Enter Exam Name
              </div>
              <div *ngIf="f.examname.errors.noSpecial">
                Exam Name Cannot Contain Special Characters
              </div>
              <div *ngIf="f.examname.errors.notNumber">
                Exam Name cannot Contain Numbers
              </div>
            </small>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput2">Enter No.Of Exams</label>
            <input
              type="text"
              formControlName="totalexam"
              class="form-control"
              placeholder="Total No. Of Exams for Each Subject In a Term"
            />
            <small
              *ngIf="f.totalexam.touched && f.totalexam.invalid"
              class="form-text text-danger font-weight-bold"
            >
              <div *ngIf="f.totalexam.errors.required">
                Please Enter Total Exams
              </div>
              <div *ngIf="f.totalexam.errors.pattern">
                Can contain only Numeric value
              </div>
            </small>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput3">Enter Full Marks</label>
            <input
              type="text"
              formControlName="exammarks"
              class="form-control"
              id="formGroupExampleInput3"
              placeholder="Full Marks"
            />
            <small
              *ngIf="f.exammarks.touched && f.exammarks.invalid"
              class="form-text text-danger font-weight-bold"
            >
              <div *ngIf="f.exammarks.errors.required">
                Please Enter Full Marks
              </div>
              <div *ngIf="f.exammarks.errors.pattern">
                Can contain only Numeric value
              </div>
            </small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="!form.valid"
          (click)="addexam()"
        >
          Add
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="closeExamAddModal()"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!--EXAM Delete MODAL -->
<div class="modal fade" [ngClass]="{ show: showDeleteExamModal }">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Exam</h5>
        <button type="button" class="close" (click)="closeExamDeleteModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="spinner text-center" *ngIf="!PieData">
            <div
              class="spinner-grow text-secondary"
              style="width: 3rem; height: 3rem"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="row" *ngIf="PieData">
            <div class="col-md-12">
              <form [formGroup]="deleteExamForm">
                <label for="exampleFormControlSelect1">Select Exam</label>
                <select class="form-control" formControlName="exam_id">
                  <option value="" selected>Select</option>
                  <option
                    [value]="exam.ass_id"
                    *ngFor="let exam of PieData.response"
                  >
                    {{ exam.exam_name }}
                  </option>
                </select>
                <small
                  *ngIf="
                    deleteExamForm.get('exam_id').touched &&
                    deleteExamForm.get('exam_id').invalid
                  "
                  class="form-text text-danger font-weight-bold"
                >
                  <div *ngIf="deleteExamForm.get('exam_id').errors.required">
                    Please select a Exam
                  </div>
                </small>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="!deleteExamForm.valid"
          (click)="onDeleteExam()"
        >
          Delete
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="closeExamDeleteModal()"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!--EXAM Update MODAL -->
<div class="modal fade" [ngClass]="{ show: showEditExamModal }">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Exam Name</h5>
        <button type="button" class="close" (click)="closeExamEditModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="spinner text-center" *ngIf="!PieData">
            <div
              class="spinner-grow text-secondary"
              style="width: 3rem; height: 3rem"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <form [formGroup]="EditExamForm">
            <div class="row" *ngIf="PieData">
              <div class="col-md-6">
                <label for="exampleFormControlSelect1">Select Exam</label>
                <select class="form-control" formControlName="exam_id">
                  <option value="" selected>Select</option>
                  <option
                    [value]="exam.ass_id"
                    *ngFor="let exam of PieData.response"
                  >
                    {{ exam.exam_name }}
                  </option>
                </select>
                <small
                  *ngIf="
                    EditExamForm.get('exam_id').touched &&
                    EditExamForm.get('exam_id').invalid
                  "
                  class="form-text text-danger font-weight-bold"
                >
                  <div *ngIf="EditExamForm.get('exam_id').errors.required">
                    Please select a Exam
                  </div>
                </small>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleFormControlInput1">New Exam Name</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="new_exam_name"
                    placeholder="eg. Internals,Finals"
                  />
                  <small
                    *ngIf="
                      EditExamForm.get('new_exam_name').touched &&
                      EditExamForm.get('new_exam_name').invalid
                    "
                    class="form-text text-danger font-weight-bold"
                  >
                    <div
                      *ngIf="EditExamForm.get('new_exam_name').errors.required"
                    >
                      Please enter Exam Name
                    </div>
                  </small>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="!EditExamForm.valid"
          (click)="onUpdateExam()"
        >
          Update
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="closeExamEditModal()"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!---Add subject Modal-->
<div
  id="myModal"
  class="modal fade"
  role="dialog"
  [ngClass]="{ show: showSubjectAddModal }"
>
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <form [formGroup]="addSubjectForm" (ngSubmit)="onAddSubject()">
        <div class="modal-header">
          <h5 class="m-0">Add a subject in {{ termname }}</h5>
          <button
            type="button"
            class="close btn btn-danger"
            data-dismiss="modal"
            (click)="showSubjectAddModal = false"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="form-group">
              <label
                for="exampleFormControlInput1"
                class="text-center font-weight-bold"
                >Subject Name</label
              >
              <input
                type="text"
                class="form-control"
                formControlName="sub_name"
                placeholder="eg. Physics"
              />
              <small
                *ngIf="
                  addSubjectForm.get('sub_name').touched &&
                  addSubjectForm.get('sub_name').invalid
                "
                class="form-text text-danger font-weight-bold"
              >
                <div *ngIf="addSubjectForm.get('sub_name').errors.required">
                  Please enter subject
                </div>
              </small>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!addSubjectForm.valid"
          >
            Add
          </button>
          <button
            type="button"
            class="btn btn-danger"
            data-dismiss="modal"
            (click)="showSubjectAddModal = false"
          >
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--Add Term Modal-->
<div class="modal" id="myModal" [ngClass]="{ show: showAddTermModal }">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Term</h4>
        <button
          type="button"
          class="close"
          (click)="showAddTermModal = false"
          data-dismiss="modal"
        >
          &times;
        </button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form
          #userpost="ngForm"
          [formGroup]="termAddForm"
          (ngSubmit)="onAddTerm()"
        >
          <div class="form-group">
            <label for="exampleInputEmail1" class="font-weight-bold"
              >Term Name :
            </label>
            <input
              type="text"
              class="form-control"
              formControlName="term_name"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter Term"
            />
            <small
              *ngIf="term_name_add.touched && term_name_add.invalid"
              class="form-text text-danger font-weight-bold"
            >
              <div *ngIf="term_name_add.errors?.required">
                Term Name is required
              </div>
            </small>
          </div>
          <div class="forms-group text-center">
            <button
              [disabled]="!termAddForm.valid"
              class="btn btn-primary mr-3"
              type="submit"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
      <!-- Modal footer 
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger" (click)="showAddTermModal=false" data-dismiss="modal">Close</button>
      </div>-->
    </div>
  </div>
</div>

<!--Delete User Account Modal-->
<div id="mymodal" class="modal fade" role="dialog" [ngClass]="{ show: delAcc }">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="deleteUserForm">
        <div class="modal-header">
          <h5 class="m-0">This action will delete your account</h5>
          <button
            type="button"
            class="close btn btn-danger"
            data-dismiss="modal"
            (click)="delAcc = false"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="user_pass">Please confirm your password</label>
            <input
              type="password"
              placeholder="enter password"
              name="pass"
              id="user_pass"
              formControlName="pass"
              class="form-control"
            />
            <small
              *ngIf="
                deleteUserForm.get('pass').touched &&
                deleteUserForm.get('pass').invalid
              "
              class="form-text text-danger font-weight-bold"
            >
              <div *ngIf="deleteUserForm.get('pass').errors.required">
                Please Enter User Name
              </div>

              <div
                *ngIf="
                  deleteUserForm.get('pass').errors.minlength ||
                  deleteUserForm.get('pass').errors.maxlength ||
                  deleteUserForm.get('pass').errors.noSpecial ||
                  deleteUserForm.get('pass').errors.notSpace
                "
              >
                Accepts Alphanumeric & Min 5 to Max 13 Characters
              </div>
            </small>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-primary"
            (click)="ondel()"
            [disabled]="!deleteUserForm.valid"
          >
            Delete
          </button>
          <button
            type="button"
            class="btn btn-danger"
            data-dismiss="modal"
            (click)="delAcc = false"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--Add Marks-->

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
  [ngClass]="{ show: showMarksModal }"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Marks</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeMarksModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="spinner text-center" *ngIf="!MarksTerm">
            <div
              class="spinner-grow text-secondary"
              style="width: 3rem; height: 3rem"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <form [formGroup]="getMarksForm">
            <div class="row" *ngIf="MarksTerm">
              <div class="col-md-6">
                <div class="form-group" *ngIf="MarksTerm.length > 0">
                  <label for="exampleFormControlSelect1">Select Term</label>
                  <select
                    class="form-control"
                    formControlName="term_id"
                    (change)="ontermselect($event)"
                  >
                    <option value="">Select Term</option>
                    <option
                      [value]="i"
                      *ngFor="let term of MarksTerm; let i = index"
                    >
                      {{ term.term_name }}
                    </option>
                  </select>
                  <small
                    *ngIf="
                      getMarksForm.get('term_id').touched &&
                      getMarksForm.get('term_id').invalid
                    "
                    class="form-text text-danger font-weight-bold"
                  >
                    <div *ngIf="getMarksForm.get('term_id').errors.required">
                      Please select a Term
                    </div>
                  </small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group" *ngIf="MarksSubject?.length > 0">
                  <label for="exampleFormControlSelect2">Select Subject</label>
                  <select
                    class="form-control"
                    formControlName="sub_id"
                    (change)="onsubselect($event)"
                  >
                    <option value="">Select Subject</option>
                    <option
                      [value]="i"
                      *ngFor="let sub of MarksSubject; let i = index"
                    >
                      {{ sub.sub_name }}
                    </option>
                  </select>
                  <small
                    *ngIf="
                      getMarksForm.get('sub_id').touched &&
                      getMarksForm.get('sub_id').invalid
                    "
                    class="form-text text-danger font-weight-bold"
                  >
                    <div *ngIf="getMarksForm.get('sub_id').errors.required">
                      Please select a Subject
                    </div>
                  </small>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group" *ngIf="MarksExam?.length > 0">
                  <label for="exampleFormControlSelect3">Select Exam</label>
                  <select
                    class="form-control"
                    formControlName="ass_id"
                    (change)="onexamselect($event)"
                  >
                    <option value="">Select Exam</option>
                    <option
                      value="{{ i }}"
                      *ngFor="let exam of MarksExam; let i = index"
                    >
                      {{ exam.ass_name + " " + exam.ass_no }}
                    </option>
                  </select>
                  <small
                    *ngIf="
                      getMarksForm.get('ass_id').touched &&
                      getMarksForm.get('ass_id').invalid
                    "
                    class="form-text text-danger font-weight-bold"
                  >
                    <div *ngIf="getMarksForm.get('ass_id').errors.required">
                      Please select a Exam
                    </div>
                  </small>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group" *ngIf="this.FullMarksExam">
                  <label for="exampleFormControlInput1">Enter Marks</label>
                  <input
                    type="number"
                    class="form-control"
                    max="{{ this.FullMarksExam }}"
                    formControlName="marks"
                    placeholder="out of {{ this.FullMarksExam }} of the Subject"
                  />
                  <small
                    *ngIf="
                      getMarksForm.get('marks').touched &&
                      getMarksForm.get('marks').invalid
                    "
                    class="form-text text-danger font-weight-bold"
                  >
                    <div *ngIf="getMarksForm.get('marks').errors.required">
                      Please enter Exam Marks
                    </div>
                    <div *ngIf="getMarksForm.get('marks').errors.min">
                      Marks should be greater than 0
                    </div>
                    <div *ngIf="getMarksForm.get('marks').errors.max">
                      Marks should be less than {{ this.FullMarksExam }} for
                      selected exam
                    </div>
                  </small>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="getMarksForm.invalid"
          (click)="AddMarksOfSubject()"
        >
          Add Marks
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="closeMarksModal()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!--Marks Filter Modal-->

<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
  [ngClass]="{ show: marksFilterModal }"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form #marksFilterForm>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Filter Marks</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="closeMarksFilterModal()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group" *ngIf="examFilterList">
                  <label for="marks_filter_exam">Exam Name</label>
                  <select
                    name="marks_filter_exam"
                    id="marks_filter_exam"
                    class="form-control"
                    (change)="onExamFilterSelect($event)"
                  >
                    <option [value]="-1">All</option>
                    <option
                      *ngFor="let exam of examFilterList; let i = index"
                      [value]="i"
                    >
                      {{
                        exam.exam_name +
                          (exam.exam_no > 1 ? " " + exam.exam_no : "")
                      }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group" *ngIf="termData">
                  <label for="marks_filter_term">Term Name</label>
                  <select
                    name="marks_filter_term"
                    id="marks_filter_term"
                    class="form-control"
                    (change)="onTermFilterSelect($event)"
                  >
                    <option [value]="-1">All</option>
                    <option
                      *ngFor="let term of termData.response; let i = index"
                      [value]="i"
                    >
                      {{ term.term_name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group" *ngIf="subjectFilterList">
                  <label for="marks_filter_term">Subject Name</label>
                  <select
                    name="marks_filter_term"
                    id="marks_filter_term"
                    class="form-control"
                    (change)="onSubjectFilterSelect($event)"
                  >
                    <option [value]="-1">All</option>
                    <option
                      *ngFor="let sub of subjectFilterList; let i = index"
                      [value]="i"
                    >
                      {{ sub.sub_name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            (click)="applyMarksFilter()"
          >
            Apply Filter
          </button>
          <button
            type="button"
            class="btn btn-success"
            (click)="resetMarksFilter(marksFilterForm)"
          >
            Reset Filter
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            (click)="closeMarksFilterModal()"
          >
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--change password modal-->
<div
  id="mmodal"
  class="modal fade"
  role="dialog"
  [ngClass]="{ show: changePasswordModal }"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="pwdChangeForm">
        <div class="modal-header">
          <h5 class="m-0">This action will change password</h5>
          <button
            type="button"
            class="close btn btn-danger"
            data-dismiss="modal"
            (click)="closeChangePasswordModal()"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="old_pass">Please confirm your old password</label>
            <input
              type="password"
              id="old_pass"
              class="form-control"
              formControlName="old_pass"
              placeholder="enter old password"
            />
            <small
              *ngIf="
                pwdChangeForm.get('old_pass').touched &&
                pwdChangeForm.get('old_pass').invalid
              "
              class="form-text text-danger font-weight-bold"
            >
              <div *ngIf="pwdChangeForm.get('old_pass').errors?.required">
                Please enter old password
              </div>
            </small>
          </div>
          <div class="form-group">
            <label for="new_pass">Please enter your new password</label>
            <input
              type="password"
              id="new_pass"
              class="form-control"
              formControlName="new_pass"
              placeholder="enter new password"
            />
            <small
              *ngIf="
                pwdChangeForm.get('new_pass').touched &&
                pwdChangeForm.get('new_pass').invalid
              "
              class="form-text text-danger font-weight-bold"
            >
              <div *ngIf="pwdChangeForm.get('new_pass').errors?.required">
                Please enter new password
              </div>

              <div
                *ngIf="
                  pwdChangeForm.get('new_pass').errors?.minlength ||
                  pwdChangeForm.get('new_pass').errors?.maxlength
                "
              >
                Accepts Min 8 to Max 16 Characters
              </div>
              <div *ngIf="pwdChangeForm.get('new_pass').errors?.notSpace">
                Password Cannot Contain Space
              </div>
            </small>
          </div>
          <div class="form-group">
            <label for="cnf_pass">Please confirm your new password</label>
            <input
              type="password"
              id="cnf_pass"
              class="form-control"
              [ngClass]="{
                'ng-invalid':
                  pwdChangeForm.get('cnf_pass').touched &&
                  (pwdChangeForm.get('cnf_pass').invalid ||
                    pwdChangeForm.errors?.mismatch)
              }"
              formControlName="cnf_pass"
              placeholder="confirm new password"
            />
            <small
              *ngIf="
                pwdChangeForm.get('cnf_pass').touched &&
                (pwdChangeForm.get('cnf_pass').invalid ||
                  pwdChangeForm.errors?.mismatch)
              "
              class="form-text text-danger font-weight-bold"
            >
              <div *ngIf="pwdChangeForm.get('cnf_pass').errors?.required">
                Please enter new password
              </div>

              <div *ngIf="pwdChangeForm.errors?.mismatch">
                Passwords didn't match.
              </div>
            </small>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-warning"
            [disabled]="pwdChangeForm.invalid"
            (click)="changePassword()"
          >
            Confirm
          </button>
          <button
            type="button"
            class="btn btn-danger"
            data-dismiss="modal"
            (click)="closeChangePasswordModal()"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--Marks Delete modal-->
<div
  id="myModal"
  class="modal fade"
  role="dialog"
  [ngClass]="{ show: deleteMarksModal }"
>
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete Marks</h4>
        <button
          type="button"
          class="close"
          (click)="deleteMarksModal = false"
          data-dismiss="modal"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <p class="para">
          Are you sure? This action will remove the marks of the selected
          Subject.
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="onDeleteMarks()"
          data-dismiss="modal"
        >
          Yes! Delete
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteMarksModal = false"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!--Marks Update Modal-->

<div
  id="myModal"
  class="modal fade"
  role="dialog"
  [ngClass]="{ show: showEditMarksModal }"
>
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <form [formGroup]="editMarksForm" (ngSubmit)="onEdit()">
        <div class="modal-header">
          <h5 class="m-0">Edit your marks</h5>
          <button
            type="button"
            class="close btn btn-danger"
            data-dismiss="modal"
            (click)="showEditMarksModal = false"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="form-group" *ngIf="FullMarksEdit">
              <label for="exampleFormControlInput1"
                >Edit marks out of {{ this.FullMarksEdit }}</label
              >
              <input
                type="number"
                class="form-control"
                formControlName="marks"
                max="FullMarksEdit"
                placeholder="Enter marks here"
              />
              <small
                *ngIf="
                  editMarksForm.get('marks').touched &&
                  editMarksForm.get('marks').invalid
                "
                class="form-text text-danger font-weight-bold"
              >
                <div *ngIf="editMarksForm.get('marks').errors.required">
                  Required Field
                </div>
                <div *ngIf="editMarksForm.get('marks').errors.min">
                  Marks should be greater than 0
                </div>
                <div *ngIf="editMarksForm.get('marks').errors.max">
                  Marks should be less than {{ FullMarksEdit }} for selected
                  exam
                </div>
              </small>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!editMarksForm.valid"
            data-dismiss="modal"
          >
            Save
          </button>
          <button
            type="submit"
            class="btn btn-danger"
            (click)="showEditMarksModal = false"
            data-dismiss="modal"
          >
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--edit profile-->
<div
  id="mmodall"
  class="modal fade"
  role="dialog"
  [ngClass]="{ show: editProfileModal }"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="editProfileForm" *ngIf="editProfileForm">
        <div class="modal-header">
          <h5 class="m-0">This action will change user details</h5>
          <button
            type="button"
            class="close btn btn-danger"
            data-dismiss="modal"
            (click)="closeeditProfileModal()"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row no-gutters">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label for="edit_username">Username</label>
                  <input
                    formControlName="username"
                    type="name"
                    class="form-control"
                    id="edit_username"
                    placeholder="Enter User Name"
                  />
                  <small
                    *ngIf="
                      editProfileForm.get('username').touched &&
                      editProfileForm.get('username').invalid
                    "
                    class="form-text text-danger font-weight-bold"
                  >
                    <div
                      *ngIf="editProfileForm.get('username').errors.required"
                    >
                      Please Enter User Name
                    </div>
                    <div
                      *ngIf="
                        editProfileForm.get('username').errors.minlength ||
                        editProfileForm.get('username').errors.maxlength ||
                        editProfileForm.get('username').errors.noSpecial ||
                        editProfileForm.get('username').errors.notSpace
                      "
                    >
                      Accepts Alphanumeric & Min 5 to Max 13 Characters
                    </div>
                  </small>
                </div>
              </div>
              <div class="col-md-7 pl-1">
                <div class="form-group">
                  <label for="edit_name">Name</label>
                  <input
                    formControlName="studentname"
                    type="name"
                    class="form-control"
                    id="edit_name"
                    placeholder="Enter Name"
                  />
                  <small
                    *ngIf="
                      editProfileForm.get('studentname').touched &&
                      editProfileForm.get('studentname').invalid
                    "
                    class="form-text text-danger font-weight-bold"
                  >
                    <div
                      *ngIf="editProfileForm.get('studentname').errors.required"
                    >
                      Please Enter Student Name
                    </div>
                    <div
                      *ngIf="
                        editProfileForm.get('studentname').errors.minlength ||
                        editProfileForm.get('studentname').errors.maxlength ||
                        editProfileForm.get('studentname').noSpecial ||
                        editProfileForm.get('studentname').notNumber
                      "
                    >
                      Accepts Alphabets & Min 5 to Max 30 Characters
                    </div>
                  </small>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="edit_email">Email ID</label>
                  <input
                    formControlName="primaryEmail"
                    type="email"
                    class="form-control"
                    id="edit_email"
                    aria-describedby="emailHelp"
                    placeholder="Enter email"
                  />
                  <small
                    *ngIf="
                      editProfileForm.get('primaryEmail').touched &&
                      editProfileForm.get('primaryEmail').invalid
                    "
                    class="form-text text-danger font-weight-bold"
                  >
                    <div
                      *ngIf="
                        editProfileForm.get('primaryEmail').errors.required
                      "
                    >
                      Please Enter Email
                    </div>
                    <div
                      *ngIf="editProfileForm.get('primaryEmail').errors.email"
                    >
                      Please Enter The Correct Email
                    </div>
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="editProfileForm.invalid"
            (click)="editprofile()"
          >
            Update
          </button>
          <button
            type="button"
            class="btn btn-danger"
            data-dismiss="modal"
            (click)="closeeditProfileModal()"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--edit profile image-->
<div
  id="mmodall"
  class="modal fade profilemodal"
  role="dialog"
  [ngClass]="{ show: editProfileImageModal }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="m-0">Change Profile Picture</h5>
        <button
          type="button"
          class="close btn btn-danger"
          data-dismiss="modal"
          (click)="closeEditProfileImageModal()"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="image-holder text-center">
          <div
            class="image-item"
            *ngFor="let img of listOfImages"
            [class.selected]="img == img_number"
          >
            <img
              alt="{{ img }}"
              (click)="onimg(img)"
              class="profile_img"
              src="assets/profile/{{ img }}.jpg"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" (click)="onimagechange()">
          Change
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          (click)="closeEditProfileImageModal()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
