.cursor-pointer {
  cursor: pointer;
}

.modal.show {
  display: block;
}
.fa {
  cursor: pointer;
}
.form-control.ng-touched.ng-invalid {
  border: 2px solid red;
}
.table .text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 0;
}