<div class="container-fluid">
  <h1 class="dash-title">Subject</h1>
  <p class="mb-5">
    Here you will find all the information about your subjects and select a
    subject to see deailed analysis.
  </p>
  <div class="row">
    <div class="col-xl-6">
      <div class="card spur-card">
        <div class="card-header">
          <div class="spur-card-icon">
            <i class="fas fa-chart-bar"></i>
          </div>
          <div class="spur-card-title">
            {{ subjectLoaded }} marks on each exam
          </div>
        </div>
        <div class="card-body">
          <div class="spinner text-center" *ngIf="!chartOptions1 && this.paramLoaded">
            <div
              class="spinner-grow text-secondary"
              style="width: 3rem; height: 3rem"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div
            id="chart1"
            *ngIf="
              chartOptions1 &&
              subjectListWithMarks &&
              subjectListWithMarks.response.length > 0
            "
          >
            <apx-chart
              [series]="chartOptions1.series"
              [chart]="chartOptions1.chart"
              [dataLabels]="chartOptions1.dataLabels"
              [plotOptions]="chartOptions1.plotOptions"
              [yaxis]="chartOptions1.yaxis"
              [fill]="chartOptions1.fill"
              [xaxis]="chartOptions1.xaxis"
            ></apx-chart>
          </div>
          <p
            class="mt-4 lead"
            *ngIf="
              chartOptions1 &&
              subjectListWithMarks &&
              subjectListWithMarks.response.length <= 0
            "
          >
            Please enter marks in the selected subject to see the graph.
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card spur-card">
        <div class="card-header bg-primary text-white">
          <div class="spur-card-icon">
            <i class="fas fa-clipboard"></i>
          </div>
          <div class="spur-card-title">Subject List Added</div>
          <div class="spur-card-menu">
            <button class="btn text-white" (click)="openSubjectModal()">
              <i class="fas fa-plus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="spinner text-center" *ngIf="!subjectListAny">
            <div
              class="spinner-grow text-secondary"
              style="width: 3rem; height: 3rem"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <table
            class="table table-hover table-in-card"
            *ngIf="subjectListAny && subjectListAny.length > 0"
          >
            <thead>
              <tr>
                <th scope="col" class="text"><span>Subject</span></th>
                <th scope="col" class="text"><span>Term</span></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let val of subjectListAny"
                routerLink="/dash/subject/{{ val.sub_id }}"
                class="cursor-pointer"
              >
                <ng-container>
                  <th class="text">
                    <span>{{ val.subject_name }}</span>
                  </th>
                  <td class="text">
                    <span>{{ val.term_name }}</span>
                  </td>
                  <td>
                    <span
                      ><button
                        type="button"
                        class="btn btn-danger"
                        data-dismiss="modal"
                        (click)="
                          opendelSubjectModal(val.sub_id, val.subject_name)
                        "
                      >
                        <i class="fas fa-minus"></i></button
                    ></span>
                  </td>
                  <td>
                    <span
                      ><button
                        type="button"
                        class="btn btn-warning"
                        (click)="
                          openEditSubjectModal(
                            val.sub_id,
                            val.subject_name,
                            val.term_name
                          )
                        "
                      >
                        Edit
                      </button></span
                    >
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
          <p
            class="mt-4 lead"
            *ngIf="subjectListAny && subjectListAny.length <= 0"
          >
            Please enter a subject to see the subject in this list
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-12">
      <div class="card spur-card">
        <div class="card-header">
          <div class="spur-card-icon">
            <i class="fas fa-chart-bar"></i>
          </div>
          <div class="spur-card-title">Avg Marks on each subject</div>
        </div>
        <div class="card-body">
          <div class="spinner text-center" *ngIf="!chartOptions2">
            <div
              class="spinner-grow text-secondary"
              style="width: 3rem; height: 3rem"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div
            id="chart2"
            *ngIf="
              chartOptions2 && subjectList && subjectList.response.length > 0
            "
          >
            <apx-chart
              [series]="chartOptions2.series"
              [chart]="chartOptions2.chart"
              [dataLabels]="chartOptions2.dataLabels"
              [plotOptions]="chartOptions2.plotOptions"
              [yaxis]="chartOptions2.yaxis"
              [fill]="chartOptions2.fill"
              [xaxis]="chartOptions2.xaxis"
            ></apx-chart>
          </div>
          <p
            class="mt-4 lead"
            *ngIf="
              chartOptions2 && subjectList && subjectList.response.length <= 0
            "
          >
            Please enter marks in any subjects to see this graph.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  id="mymodal"
  class="modal fade"
  role="dialog"
  [ngClass]="{ show: deleteSubjectAddModal }"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="m-0">Are you sure?</h5>
        <button
          type="button"
          class="close btn btn-danger"
          data-dismiss="modal"
          (click)="deleteSubjectAddModal = false"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <p>
          {{ "This action will delete all the marks related to the subject  "
          }}{{ this.current_sub }}
        </p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="ondel()">
          Delete
        </button>
        <button
          type="button"
          class=" btn btn-danger"
          data-dismiss="modal"
          (click)="deleteSubjectAddModal = false"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
<div
  id="myModal"
  class="modal fade"
  role="dialog"
  [ngClass]="{ show: showSubjectAddModal }"
>
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <form [formGroup]="addSubjectForm" (ngSubmit)="onAdd()">
        <div class="modal-header">
          <h5 class="m-0">Add a subject</h5>
          <button
            type="button"
            class="close btn btn-danger"
            data-dismiss="modal"
            (click)="showSubjectAddModal = false"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="spinner text-center" *ngIf="!termList">
              <div
                class="spinner-grow text-secondary"
                style="width: 3rem; height: 3rem"
                role="status"
              >
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div class="row" *ngIf="termList && termList.length > 0">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleFormControlInput1">Subject Name</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="sub_name"
                    placeholder="eg. Physics"
                  />
                  <small
                    *ngIf="
                      addSubjectForm.get('sub_name').touched &&
                      addSubjectForm.get('sub_name').invalid
                    "
                    class="form-text text-danger font-weight-bold"
                  >
                    <div *ngIf="addSubjectForm.get('sub_name').errors.required">
                      Please enter subject
                    </div>
                  </small>
                </div>
              </div>
              <div class="col-md-6">
                <label for="exampleFormControlSelect1">Select Term</label>
                <select
                  class="form-control"
                  formControlName="term_id"
                  (change)="changeTermId($event)"
                >
                  <option value="" selected>Select</option>
                  <option [value]="term.term_id" *ngFor="let term of termList">
                    {{ term.term_name }}
                  </option>
                </select>
                <small
                  *ngIf="
                    addSubjectForm.get('term_id').touched &&
                    addSubjectForm.get('term_id').invalid
                  "
                  class="form-text text-danger font-weight-bold"
                >
                  <div *ngIf="addSubjectForm.get('term_id').errors.required">
                    Please select a term
                  </div>
                </small>
              </div>
            </div>
            <p class="lead" *ngIf="termList && termList.length <= 0">
              You need to add a term first before adding a subject.
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-primary"
            *ngIf="termList && termList.length > 0"
            [disabled]="!addSubjectForm.valid"
          >
            Add
          </button>
          <button
            type="button"
            class="btn btn-danger"
            data-dismiss="modal"
            (click)="showSubjectAddModal = false"
          >
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--for edit-->
<div
  id="myodal"
  class="modal fade"
  role="dialog"
  [ngClass]="{ show: showSubjectEditModal }"
>
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <form [formGroup]="editSubjectForm" (ngSubmit)="onEdit()">
        <div class="modal-header">
          <h5 class="m-0">Edit a subject</h5>
          <button
            type="button"
            class="close btn btn-danger"
            data-dismiss="modal"
            (click)="showSubjectEditModal = false"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="form-group">
              <label for="exampleFormControlInput1"> New Subject Name</label>
              <input
                type="text"
                class="form-control"
                formControlName="sub_name"
              />
              <small
                *ngIf="
                  editSubjectForm.get('sub_name').touched &&
                  editSubjectForm.get('sub_name').invalid
                "
                class="form-text text-danger font-weight-bold"
              >
                <div *ngIf="editSubjectForm.get('sub_name').errors.required">
                  Please enter subject
                </div>
              </small>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!editSubjectForm.valid"
          >
            Save
          </button>
          <button
            type="button"
            class="btn btn-danger"
            data-dismiss="modal"
            (click)="showSubjectEditModal = false"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
