.container {
  position: relative;
}

tbody {
  cursor: pointer;
}


.modal.show {
  display: block;
}
.para {
  font-size: 120%;
  text-align: center;
}
.form-control.ng-touched.ng-invalid {
  border: 2px solid red;
}
.table .text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 0;
}
.rank-list{
  width:35px;
}