<div class="row">
  <div class="col-xl-6">
    <div class="card spur-card">
      <div class="card-header">
        <div class="spur-card-icon">
          <i class="fas fa-chart-bar"></i>
        </div>
        <div class="spur-card-title">Subject marks from {{term_name}}</div>
      </div>
      <div class="card-body">

        <div id="chart" *ngIf="chartOptions">
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [dataLabels]="chartOptions.dataLabels"
              [plotOptions]="chartOptions.plotOptions"
              [xaxis]="chartOptions.xaxis"
              [yaxis]="chartOptions.yaxis"
              [stroke]="chartOptions.stroke"
            ></apx-chart>
          </div>
          


      </div>
    </div>
  </div>
  <div class="col-xl-6 cardDetails">
    <div class="card spur-card">
      <div class="card-header bg-warning text-white">
        <div class="spur-card-icon">
          <i class="fas fa-clipboard"></i>
        </div>
        <div class="spur-card-title">Term List</div>
      </div>
      <div class="card-body">
        <table class="table table-hover table-in-card">
          <thead>
            <tr>
              <th scope="col" class="text"><span>#</span></th>
              <th scope="col" class="text"><span>Term Name</span></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let val of termData; let i = index" routerLink = "/dash/term/{{val.term_id}}">
              <th class="text">
                <span>{{ i + 1 }}</span>
              </th>
              <td class="text">
                <span>{{ val.term_name }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
