<div class="container-fluid background-image" [ngStyle]="{'background-image': 'url(./assets/images/background-pencil.jpg)'}">
  <div class="container">
    <div class="row align-items-center full-height">
      <div class="col-sm-6 mb-5" >
        <div class="form-screen">
          <a href="index.html" class="spur-logo mb-3"
            ><i class="fas fa-chart-line  text-primary"></i> <span>Result Tracker</span></a
          >

          <div class="card account-dialog" *ngIf="showMyContainer">
            <div class="card-header bg-primary text-white position-relative">
              Please Register
              <div class="spinner-border text-light spinner-border-sm position-absolute" role="status" style="top:18px; right:22px" *ngIf="showLoading">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div class="card-body">
              <form [formGroup]="form">
                <div class="form-group">
                  <input
                    formControlName="username"
                    type="name"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="Enter User Name"
                  />
                  <small
                    *ngIf="f.username.touched && f.username.invalid"
                    class="form-text text-danger font-weight-bold"
                  >
                    <div *ngIf="f.username.errors.required">
                      Please Enter User Name
                    </div>

                    <div
                      *ngIf="
                        f.username.errors.minlength ||
                        f.username.errors.maxlength ||
                        f.username.errors.noSpecial ||
                        f.username.errors.notSpace
                      "
                    >
                      Accepts Alphanumeric & Min 5 to Max 13 Characters
                    </div>
                  </small>
                </div>

                <div class="form-group">
                  <input
                    formControlName="studentname"
                    type="name"
                    class="form-control"
                    id="exampleFormControlInput2"
                    placeholder="Enter Name"
                  />
                  <small
                    *ngIf="f.studentname.touched && f.studentname.invalid"
                    class="form-text text-danger font-weight-bold"
                  >
                    <div *ngIf="f.studentname.errors.required">
                      Please Enter Student Name
                    </div>

                    <div
                      *ngIf="
                        f.studentname.errors.minlength ||
                        f.studentname.errors.maxlength ||
                        f.studentname.noSpecial ||
                        f.studentname.notNumber
                      "
                    >
                      Accepts Alphabets & Min 5 to Max 30 Characters
                    </div>
                  </small>
                </div>

                <div class="form-group">
                  <input
                    formControlName="primaryEmail"
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Enter email"
                  />
                  <small
                    *ngIf="f.primaryEmail.touched && f.primaryEmail.invalid"
                    class="form-text text-danger font-weight-bold"
                  >
                    <div *ngIf="f.primaryEmail.errors.required">
                      Please Enter Email
                    </div>
                    <div *ngIf="f.primaryEmail.errors.email">
                      Please Enter The Correct Email
                    </div>
                  </small>
                </div>

                <div class="form-group">
                  <input
                    formControlName="pwd"
                    type="password"
                    class="form-control"
                    id="exampleFormControlInput4"
                    placeholder="Enter Password"
                  />
                  <small
                    *ngIf="f.pwd.touched && f.pwd.invalid"
                    class="form-text text-danger font-weight-bold"
                  >
                    <div *ngIf="f.pwd.errors.required">
                      Please Enter Password
                    </div>

                    <div
                      *ngIf="f.pwd.errors.minlength || f.pwd.errors.maxlength"
                    >
                      Accepts Min 8 to Max 16 Characters
                    </div>
                    <div *ngIf="f.pwd.errors.notSpace">
                      Password Cannot Contain Space
                    </div>
                  </small>
                </div>

                <div class="form-group">
                  <input
                    formControlName="cpwd"
                    type="password"
                    class="form-control"
                    id="exampleFormControlInput5"
                    placeholder="Confirm Password"
                  />
                  <small
                    *ngIf="f.cpwd.touched && f.cpwd.invalid"
                    class="form-text text-danger font-weight-bold"
                  >
                    <div *ngIf="f.cpwd.errors.required">
                      Password is required.
                    </div>
                    <div *ngIf="f.cpwd.errors.confirmedValidator">
                      Password and Confirm Password must be match.
                    </div>
                  </small>
                </div>

                <div class="form-group">
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customCheck1"
                    />
                    <label class="custom-control-label" for="customCheck1"
                      >Remember me</label
                    >
                  </div>
                </div>
                <div class="account-dialog-actions">
                  <button
                    [disabled]="!form.valid"
                    type="submit"
                    class="btn btn-primary"
                    (click)="onRegister()"
                  >
                    Register
                  </button>
                  <a
                    class="account-dialog-link"
                    (click)="showMyContainer = !showMyContainer"
                    >If You Have an Account.Sign In</a
                  >
                </div>
              </form>
            </div>
          </div>
          <div class="card account-dialog" *ngIf="!showMyContainer">
            <div class="card-header bg-primary text-white position-relative">
              Please Login
              <div class="spinner-border text-light spinner-border-sm position-absolute" role="status" style="top:18px; right:22px" *ngIf="showLoading">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div class="card-body">
              <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div class="form-group">
                  <input
                    formControlName="username"
                    type="name"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="Enter User Name"
                  />
                  <small
                    *ngIf="fl.username.touched && f.username.invalid"
                    class="form-text text-danger font-weight-bold"
                  >
                    <div *ngIf="fl.username.errors?.required">
                      Please Enter User Name
                    </div>

                    <div
                      *ngIf="
                        fl.username.errors?.minlength ||
                        fl.username.errors?.maxlength ||
                        fl.username.errors?.noSpecial ||
                        fl.username.errors?.notSpace
                      "
                    >
                      Accepts Alphanumeric & Min 5 to Max 13 Characters
                    </div>
                  </small>
                </div>
                <div class="form-group">
                  <input
                    formControlName="pwd"
                    type="password"
                    class="form-control"
                    id="exampleFormControlInput4"
                    placeholder="Enter Password"
                  />
                  <small
                    *ngIf="fl.pwd.touched && f.pwd.invalid"
                    class="form-text text-danger font-weight-bold"
                  >
                    <div *ngIf="fl.pwd.errors?.required">
                      Please Enter Password
                    </div>

                    <div
                      *ngIf="
                        fl.pwd.errors?.minlength || fl.pwd.errors?.maxlength
                      "
                    >
                      Accepts Min 8 to Max 16 Characters
                    </div>
                    <div *ngIf="fl.pwd.errors?.notSpace">
                      Password Cannot Contain Space
                    </div>
                  </small>
                </div>
                <button
                  [disabled]="!loginForm.valid"
                  type="submit"
                  class="btn btn-primary"
                >
                  Login
                </button>
                <a
                  class="account-dialog-link"
                  (click)="showMyContainer = !showMyContainer"
                  >If You Don't Have an Account.Sign Up</a
                >
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 p-5" style="border: 0px">
        <div class="logo" style="margin: 0px 43%">
          <div class="eye" style="position: relative; display: inline-block">
            <p class="text" style="display: inline-block"></p>
            <img src="https://img.icons8.com/fluent/48/000000/visible.png" />
          </div>
        </div>
        <div id="chart" style="margin: 0% 0%">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
            [stroke]="chartOptions.stroke"
            [colors]="chartOptions.colors"
            [dataLabels]="chartOptions.dataLabels"
            [legend]="chartOptions.legend"
            [markers]="chartOptions.markers"
            [grid]="chartOptions.grid"
            [yaxis]="chartOptions.yaxis"
            [title]="chartOptions.title"
          ></apx-chart>
        </div>
      </div>
    </div>
  </div>
</div>
